<template name="NavBar">
  <div class="bar nav-bar {{class}}">
    {{#if isBackButtonVisible}}{{> BackButton}}{{/if}}
<!--     {{> NavBarMenuButton}} -->
    {{> UI.contentBlock}}
  </div>
</template>

<template name="SideNav">
  <div class="side-nav">
    {{> UI.contentBlock}}
  </div>
</template>


<template name="MenuButton">
  <a class="button icon-button menu-button"><i class="ion-navicon"></i></a>
</template>

<template name="BackButton">
  <a class="back button left ion-ios7-arrow-back">{{backButtonText}}</a>
</template>

<template name="NavBarItem">
  <a class="button {{class}}">{{text}}</a>
</template>

<template name="NavBarTitle">
  <div class="title">{{title}}</div>
</template>