.view {
  @include translate3d(0, 0, 0);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  background: $view-bg;

  &.has-nav-bar {
    padding-top: $bar-height;
  }
  z-index: $view-z;

  .view {
    position: relative;
  }
}

//    Tab Bar View
//===============================
.tab-bar-view {
  padding-bottom: $tab-bar-height;

  &.icon-top {
    padding-bottom: $tab-bar-height-icon-top;
  }
}