<template name="TableView">
  {{> UI.contentBlock}}
  {{#if tableDetailView}}
    {{> TableDetailView}}
  {{/if}}
</template>

<template name="TableListView">
  <div class="view table-view table-list-view {{class}}">
    <ul class="item-list">
      {{> UI.contentBlock}}
    </ul>
  </div>
</template>

<template name="TableViewItem">
  <li class="item-wrap">
    {{#if isIronRouter}}
      <a class="item" href={{pathFor route}}>
        {{> UI.contentBlock}}
      </a>
    {{else}}
      <a class="item" href="#">
        {{> UI.contentBlock}}
      </a>
    {{/if}}
  </li>
</template>

<template name="TableDetailView">
  <div class="view table-detail-view has-nav-bar transit-transform">
    {{> UI.dynamic template=this.template}}
  </div>
</template>