<template name="TableView">
  <div id="table">
    {{> UI.contentBlock}}
  </div>
</template>

<template name="TableListView">
  <div class="view table-view table-list-view {{class}}">
    <ul class="item-list">
      {{> UI.contentBlock}}
    </ul>
  </div>
</template>

<template name="TableViewItem">
  <li class="item-wrap">
    {{#if isIronRouter}}
      <a class="item" href={{pathFor route}}>
        {{> UI.contentBlock}}
      </a>
    {{else}}
      <a class="item" href="#">
        {{> UI.contentBlock}}
      </a>
    {{/if}}
  </li>
</template>

<template name="TableDetailView">
  <div class="view table-detail-view has-nav-bar">
    {{> UI.contentBlock}}
  </div>
</template>