<template name="TableView">
  {{#if isTableListView}}
    <div class="view table-view table-list-view {{class}}">
      <ul class="item-list">
        {{> UI.contentBlock}}
      </ul>
    </div>
  {{/if}}
  {{#if isTableDetailView}}
    <!-- {{#if isIronRouter}} -->
      <!-- {{> yield}} -->
    <!-- {{else}} -->
      {{> UI.dynamic template=template}}
    <!-- {{/if}} -->
  {{/if}}
</template>

<template name="TableViewItem">
  <li class="item-wrap">
    {{#if isIronRouter}}
      <a class="item" href={{pathFor route}}>
        {{> UI.contentBlock}}
      </a>
    {{else}}
      <a class="item" href="#">
        {{> UI.contentBlock}}
      </a>
    {{/if}}
  </li>
</template>

<template name="TableDetailView">
  <div class="view table-detail-view has-nav-bar">
    {{> UI.contentBlock}}
  </div>
</template>