<template name="TabBar">
  <div class="view tab-bar-view {{class}}">
    {{#if isIronRouter}}
      {{> yield}}
    {{else}}
      {{#with tabContentTemplate}}
        {{> UI.dynamic template=this.template}}
      {{/with}}
    {{/if}}
  </div>
  <div class="bar tab-bar {{class}}" id="tab-bar">
    {{> UI.contentBlock}}
  </div>
</template>

<template name="TabBarItem">
  {{#if isIronRouter}}
    <a class="tab-bar-item {{class}} {{isActive}}" href={{pathFor route}}>
      {{#if icon}}
        <i class="icon {{icon}}"></i>
      {{/if}}
      {{text}}
    </a>
  {{else}}
    <a class="tab-bar-item {{class}} {{isActive}}" href="#">
      {{#if icon}}
        <i class="icon {{icon}}"></i>
      {{/if}}
      {{text}}
    </a>
  {{/if}}
</template>

<!-- <template name="TabBarItemBlock">
  {{#if isIronRouter}}
    <a class="tab-bar-item {{class}} {{isActive}}" href={{pathFor href}}>
      {{> UI.contentBlock}}
    </a>
  {{else}}
    <a class="tab-bar-item {{class}} {{isActive}}" href="#">
      {{> UI.contentBlock}}
    </a>
  {{/if}}
</template> -->

<template name="default">
  <p>
    <button class="button">
      Not Found
    </button>
  </p>
</template>


<template name="More">
  <a class="tab-bar-item {{class}}" href={{href}}>
    More
  </a>
</template>

<template name="TabContent">
</template>

<template name="MoreTabBarContent">
</template>
