.padding { padding: $defaultPadding; }
.padding-right { padding-right: $defaultPadding; }
.padding-left { padding-left: $defaultPadding; }
.padding-top { padding-top: $defaultPadding; }
.padding-bottom { padding-bottom: $defaultPadding; }

.text-center { text-align: center; }