//    Fonts
//===============================
$font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

//    Colors
//===============================
$white: #fff;
$gray: #F8F8F8;
$opacityGray: rgba($gray, 0.98);
$darkGray: #929292;
$borderGray: #B2B2B2;
$dividerGray: #E9E9EB;
// From: http://ios8colors.com/
$light-gray: #C7C7CC;
$dark-gray: #8E8E93;
$black: #1F1F21;
$red: #FF3B30;
$orange: #FF9500;
$yellow: #FFCC00;
$green: #4CD964;
$light-blue: #34AADC;
$blue: #007AFF;
$purple: #5856D6;
// This list needs to match up with the
// theme color variables used to iterate
// with mixin to assign theme colors to
// elements in base/typography.scss
$themes: (light-gray, #C7C7CC),
  (dark-gray, #8E8E93),
  (black, #1F1F21),
  (red, #FF3B30),
  (orange, #FF9500),
  (yellow, #FFCC00),
  (green, #4CD964),
  (light-blue, #34AADC),
  (blue, #007AFF),
  (purple, #5856D6);

$defaultThemeColor: $blue !default;


//    Borders
//===============================
$defaultBorder: 1px solid $borderGray;


//    Layout
//===============================
$defaultPadding: 0.5rem;


//    Bars
//===============================
$bar-height: 44px !default;
$bar-background: $gray !default;
$bar-border: $defaultBorder;
$bar-button-padding: 5px !default;
$bar-title-font-weight: 500 !default;
$bar-button-icon-font-size: 28px !default;
$bar-button-icon-padding: $bar-button-padding * 3 !default;


//    Nav Bars
//===============================
$nav-bar-button-color: $defaultThemeColor !default;


//    Tab Bars
//===============================
$tab-bar-height: $bar-height + 4 !default;
$tab-bar-height-icon-top: $bar-height + 8 !default;
$tab-bar-color: $darkGray !default;
$tab-bar-active-color: $defaultThemeColor !default;


//    Views
//===============================
$view-bg: $white;


//    Table View
//===============================
$table-list-item-height: 44px !default;
$table-list-item-padding: 15px !default;
$table-list-item-border: 1px solid $dividerGray !default;


//    Z Indexes
//===============================
$side-nav-z: -1;
$view-z: 1;
$table-detail-z: 2;
$nav-bar-z: 4;
$nav-bar-button-z: 6;
$tab-bar-z: 8;
$push-container-z: 10;
$modal-z: 12;


